html,
.body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: black;
}
.header {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  height: 64px;
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  box-shadow: 0 5px 20px rgb(60, 60, 60, 0.25);
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.header-navigation__logo {
  display: block;
}
.header-navigation__item {
  color: black;
  font-weight: 900;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  transition: color ease-out 0.3s;
}
.header-navigation__item:hover {
  color: rgb(60, 60, 60, 0.8);
}
.footer {
  flex-shrink: 0;
  background-color: rgb(60, 60, 60, 0.8);
  height: 60px;
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main {
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: rgb(154, 157, 165, 0.2);
  margin-top: 58px;
}
.main-wrapper {
  margin: 40px 0 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registr {
  max-width: 600px;
}
.wrapper_title{
    width:100%;
}
.main-title {
  margin: 0 0 28px 0;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0;
}
.main-content {
  padding: 28px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  box-shadow: inset 0 0 28px 5px rgb(154, 157, 165, 0.15),
    0 0 5px rgb(255, 255, 255, 1);
}
.card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom: 3px solid black;
}
.card_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 30px;
}
.card_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.img {
  height: 350px;
  width: 350px;
  border-radius: 8px;
}
.img_org {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}
.button {
  margin: 15px 0 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(154, 157, 165);
  transition: background-color ease-out 0.3s;
  color: rgb(0, 0, 0, 0.8);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.25em;
  background: none;
  border: none;
}
.button_reg {
  width: 60%;
}
.button:hover {
  background-color: rgb(154, 157, 165, 0.2);
}
.card_name {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 1.3em;
  font-weight: 900;
  transition: color ease-out 0.3s;
}
.card_name:hover {
  color: rgb(60, 60, 60, 0.8);
}
.info__p {
  margin: 5px 0 0 5px;
}
.info__h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: 600;
}
.card_description {
  margin-left: 5px;
  font-size: 1.4em;
  font-weight: 300;
  text-align: justify;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.4);
  border-radius: 10px;
}
.section {
  width: 100%;
  display: flex;
  justify-content:space-between;
}
.section-org{
width:100%
}
.section-title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.section-title_info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section_materials {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 900;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  transition: color ease-out 0.3s;
}
.section_materials:hover {
  color: rgb(60, 60, 60, 0.8);
}
.section_info {
  margin: 5px 0 0 5px;
  font-size: 1.4em;
  font-weight: 300;
  text-align: left;
}
.reg_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.ul_organizers {
  list-style: none;
  padding: 0;
}
.ul_organizers li {
  margin-bottom: 10px;
  margin-right: 20px;
}
.input_text {
  max-width: 200px;
  margin-left: 5px;
  border: none;
  outline: none;
}
.img_input {
  width: 30px;
  height: 18px;
}
.reg_form__item {
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}
.item_margin {
  margin-left: 20px;
}
.from_reg {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.checkbox_item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.checkbox_p {
  margin: 0;
  margin-left: 10px;
  font-weight: 600;
  font-style: oblique;
  color: rgb(0, 0, 0, 0.5);
}
.checkbox_h2 {
  margin: 0;
  font-size: 1.4em;
  font-weight: 600;
}
.wrapper_party {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}
