{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIDcode</title>
    <link href="{% static 'mainList/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'mainList/css/cssNormalize.css' %}" rel="stylesheet">
    <link href="{% static 'mainList/images/logo.svg' %}" rel="shortcut icon" type="image/x-icon">
</head>
<body class="body">
<div class="wrapper" id="root">
      <header class="header">
        <nav class="header-navigation">
          <a class="header-navigation__logo" href="{% url 'home' %}">
            <img src="{% static 'mainList/images/logo.svg' %}" alt="Соревнования" width="200" height="30" />
          </a>
          <a class="header-navigation__item" href="{% url 'finished' %}">
            Прошедшие соревнования
          </a>
        </nav>
      </header>
    {% block main %}

    {% endblock %}
    <footer class="footer"></footer>
    </div>
</body>
</html>