{% extends 'mainList/base.html' %}
{% block main %}
<!--    <ul>-->
{% if dat %}

            <main class="main">
            <div class="main-wrapper">
              <div class="wrapper_title">
                <h1 class="main-title">{{ title }}</h1>
              </div>
              <div class="main-content">
                  {% for itm in dat %}
                  {% if itm.status not in viw %}
                <div class="card-content">

                    <div class="card_info">
                        <a class="card_name" href="{{ itm.get_absolute_url }}">
                            {{ itm.name }}
                        </a>
                        <p class="info__p">{% if itm.numberofparticipants > 1 %}Командное участие ({{itm.numberofparticipants}} в команде){% elif itm.numberofparticipants == 1 %}Индивидуальное участие{%endif%}</p>

                        <!-- Время регистрации не пришло -->
                                {% if not itm.now_time_comparison_date_register %}
                                    <p class="info__p">Регистрация откроется {{ itm.date_register|date:"D d M Y" }} {{ itm.date_register|time:"H:i" }}</p>
                        <!-- Время завершения регистрации не пришло, но регистрация открыта -->
                                {% elif not itm.now_time_comparison_date_closeRegister %}
                                    <p class="info__p">Регистрация завершится {{ itm.date_closeRegister|date:"D d M Y" }} {{ itm.date_closeRegister|time:"H:i" }}</p>
                        <!-- Время старта не пришло, но регистрация закрыта -->
                                {% elif not itm.now_time_comparison_date_start %}
                                    <p class="info__p">Начало соревнования состоится {{ itm.date_start|date:"D d M Y" }} {{ itm.date_start|time:"H:i" }}</p>
                        <!-- Время завершения не пришло, но соревнование началось -->
                                {% elif not itm.now_time_comparison_date_end %}
                                    <p class="info__p">Соревнование завершится {{ itm.date_end|date:"D d M Y" }} {{ itm.date_end|time:"H:i" }}</p>
                        <!-- Соревнование завершилось -->
                                {% else %}
                                    <p class="info__p">Соревнование завершилось {{ itm.date_end|date:"D d M Y" }} {{ itm.date_end|time:"H:i" }}</p>
                                {% endif %}

                        <h2 class="info__h2">Описание:</h2>
                        <div class="card_description">
                            {{ itm.description|linebreaks|truncatewords:100 }}
                        </div>
                    </div>
                    <div class="card_img">
                    <a href="{{ itm.get_absolute_url }}"
                      ><img class="img" src="{{ itm.image }}" alt="{{ itm.name }}"
                    /></a>
                    <a class="button" href="{{ itm.get_absolute_url }}">Подробнее...</a>
                  </div>
                </div>
                  {% endif %}
                  {% endfor %}
              </div>
            </div>
          </main>
<!--        <li>-->
<!--            <h2>{{ itm.name }}</h2>-->
<!--            <p>{{ itm.status }}</p>-->
<!--            <p>{{ itm.description|linebreaks|truncatewords:300 }}</p>-->
<!--            <p>Кол-во участников в командах: {{ itm.numberofparticipants }}</p>-->
<!--            <p>{{ itm.regulations }}</p>-->
<!--        </li>-->

{% else %}
    <main class="main">
        <div class="main-wrapper">
            <h1 class="main-title">Список пуст</h1>
        </div>
    </main>
{% endif %}
<!--    </ul>-->
{% endblock %}