{% extends 'mainList/base.html' %}
{% load static %}
{% block main %}
<main class="main">
        <div class="main-wrapper registr">
          <h1 class="main-title">Регистрация</h1>
          <div class="main-content">
            <form class="from_reg" action="" method="post" >
              {% csrf_token %}
                <span>{{ form.non_field_errors }}</span>
                {% for f in form %}
                <div class="reg_form__item item_margin">
                    <img class="img_input" src="{% static 'mainList/images/mini_logo.png' %}" alt="Картинка" />
                    {{ f }}
                </div>
                {% endfor %}
                {% if formset %}
                <div class="item_margin">
                    {{ formset.as_p }}
                </div>
                {% endif %}
              <button class="button" type="submit" >
                  Отправить заявку на участие
              </button>
            </form>
              </div>
        </div>
  </main>

{% endblock %}