{% extends 'mainList/base.html' %}
{% block main %}
<main class="main">
        <div class="main-wrapper">
          <h1 class="main-title">{{obj.name}}</h1>
          <div class="main-content">
            <section class="section-title">
              <img class="img" src="../../{{obj.image}}" alt="Название соревнования" />
              <div class="section-title_info">
                <p class="info__p">
                  {% if obj.numberofparticipants > 1 %}
                    Командное участие ({{obj.numberofparticipants}} в команде)
                    {% elif obj.numberofparticipants == 1 %}
                    Индивидуальное участие
                    {% else %}
                    Ошибка
                    {%endif%} |
                    Зарегистрировано команд
                    x/{{obj.numberComands}}
                </p>
                        <!-- Время регистрации не пришло -->
                                {% if not obj.now_time_comparison_date_register %}
                                    <p class="info__p">Регистрация откроется {{ obj.date_register|date:"D d M Y" }} {{ obj.date_register|time:"H:i" }}</p>
                        <!-- Время завершения регистрации не пришло, но регистрация открыта -->
                                {% elif not obj.now_time_comparison_date_closeRegister %}
                                    <p class="info__p">Регистрация завершится {{ obj.date_closeRegister|date:"D d M Y" }} {{ obj.date_closeRegister|time:"H:i" }}</p>
                        <!-- Время старта не пришло, но регистрация закрыта -->
                                {% elif not obj.now_time_comparison_date_start %}
                                    <p class="info__p">Начало соревнования состоится {{ obj.date_start|date:"D d M Y" }} {{ obj.date_start|time:"H:i" }}</p>
                        <!-- Время завершения не пришло, но соревнование началось -->
                                {% elif not obj.now_time_comparison_date_end %}
                                    <p class="info__p">Соревнование завершится {{ obj.date_end|date:"D d M Y" }} {{ obj.date_end|time:"H:i" }}</p>
                        <!-- Соревнование завершилось -->
                                {% else %}
                                    <p class="info__p">Соревнование завершилось {{ obj.date_end|date:"D d M Y" }} {{ obj.date_end|time:"H:i" }}</p>
                                {% endif %}
                  {% if obj.check_registrate %}
                        <a class="button" href="./index3.html">Регистрация на участие</a>
                  {% endif %}
              </div>
            </section>
            <section>
              <h2 class="info__h2">Описание:</h2>
              <h3 class="section_info">
                {{ obj.description|linebreaks }}
              </h3>
            </section>
            <section>
              <h2 class="info__h2">Правила:</h2>
              <h3 class="section_info">
                {{ obj.regulations|linebreaks }}
              </h3>
            </section>
            <section>
              <h2 class="info__h2">Расписание:</h2>
              <h3 class="section_info">
                  Открытие регистрации: {{ obj.date_register }}<br>
                  Закрытие регистрации: {{ obj.date_closeRegister }}<br>
                  Начало соревнования:  {{ obj.date_start}}<br>
                  Завершение соревнования: {{ obj.date_end }}<br>
                  {% if obj.timePublicationAdditionalMaterial %}
                  Дополнительные материалы будут опубликованы {{obj.timePublicationAdditionalMaterial}}<br>
                  {%endif%}
              </h3>
            </section>
            <section>
                <h2 class="info__h2">Дополнительные материалы</h2>
                {% if obj.additionalMaterial %}
                    {% autoescape off %}
                        {% if obj.timePublicationAdditionalMaterial %}
                            {% if obj.now_time_comparison_timePublicationAdditionalMaterial %}
                                <h3 class="section_info">{{ obj.editLink|linebreaks }}</h3>
                            {% else %}
                                <h3 class="section_info">Дополнительные материалы появятся позже</h3>
                            {% endif %}
                        {% else %}
                            <h3 class="section_info">{{ obj.editLink|linebreaks }}</h3>
                        {% endif %}
                    {% endautoescape %}
                {% else %}
                    <h3 class="section_info">Дополнительные материалы не предусмотрены</h3>
                {% endif %}
            </section>
               <section>

              <div class="section">

                <div class="organizers">
                 {% if obj.organizers %}
                      <h2 class="info__h2">Организаторы:</h2>
                      <ul class="ul_organizers">
                          {% for itm in obj.organizers.all %}
                                <li>
                                  <a class="section_materials" href="{{ itm.link }}">
                                    <img class="img_org" src="../../{{ itm.image }}" alt="{{ itm.name }}" />
                                    {{ itm.name }}
                                  </a>
                                </li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>

                <div class="organizers">
                    {% if obj.sponsors %}
                  <h2 class="info__h2">Спонсоры:</h2>
                  <ul class="ul_organizers">
                      {% for itm in obj.sponsors.all %}
                      <li>
                          <a class="section_materials" href="{{ itm.link }}">
                              <img class="img_org" src="../../{{ itm.image }}" alt="{{ itm.name }}" />
                              {{ itm.name }}
                          </a>
                      </li>
                      {% endfor %}
                  </ul>
                    {% endif %}
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>

{% endblock %}